In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train.csv")
df.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000

In [4]:
df.shape

(2249698, 6)

In [6]:
test=pd.read_csv("test.csv")
test.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
0,604373,Manuel d'Héliogravure Et de Photogravure En Re...,NaN,NaN,6142
1,1729783,DCGARING Microfiber Throw Blanket Warm Fuzzy P...,[QUALITY GUARANTEED: Luxury cozy plush polyest...,<b>DCGARING Throw Blanket</b><br><br> <b>Size ...,1622
2,1871949,I-Match Auto Parts Front License Plate Bracket...,"[Front License Plate Bracket Made Of Plastic,D...",Replacement for The Following Vehicles:2020 LE...,7540
3,1107571,PinMart Gold Plated Excellence in Service 1 Ye...,[Available as a single item or bulk packed. Se...,Our Excellence in Service Lapel Pins feature a...,12442
4,624253,"Visual Mathematics, Illustrated by the TI-92 a...",NaN,NaN,6318

In [7]:
test.shape

(734736, 5)

In [8]:
#DATA PREPROCESSING
#copying the train data frameinto another new dataframe to preprocess the data
df1=df.copy()

In [9]:
#null values/missing data in test dataframe
df1.isna().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [10]:
#null values in test data frame
test.isna().sum()

PRODUCT_ID              0
TITLE                   5
BULLET_POINTS      275922
DESCRIPTION        380001
PRODUCT_TYPE_ID         0
dtype: int64

In [11]:
# droping null values for title
df1 = df1.dropna(subset=['TITLE'])
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
df1['BULLET_POINTS'] = df1['BULLET_POINTS'].fillna('None')

#dropping description columns
df1 = df1.drop(['DESCRIPTION'], axis=1)

df1.head(10)

,PRODUCT_ID,TITLE,BULLET_POINTS,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,None,6112,598.424000
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",5725,950.000000
6,413758,Ungifted: My Life and Journey,None,23,598.000000
7,2026580,Delavala Self Adhesive Kitchen Backsplash Wall...,[HIGH QUALITY PVC MATERIAL: The kitchen alumin...,6030,984.251967
8,2050239,PUMA Cali Sport Clean Women's Sneakers White L...,[Style Name:-Cali Sport Clean Women's Sneakers...,3302,393.700000
9,2998633,Hexwell Essential oil for Home Fragrance Oil A...,[100% Pure And Natural Essential Oil Or Fragra...,8201,393.700787

In [12]:
#for testing
# droping null values for title
# test = test.dropna(subset=['TITLE'])
test['TITLE'] = test['TITLE'].fillna('None')
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
test['BULLET_POINTS'] = test['BULLET_POINTS'].fillna('None')

#dropping description columns
test = test.drop(['DESCRIPTION'], axis=1)
test.head(10)

,PRODUCT_ID,TITLE,BULLET_POINTS,PRODUCT_TYPE_ID
0,604373,Manuel d'Héliogravure Et de Photogravure En Re...,None,6142
1,1729783,DCGARING Microfiber Throw Blanket Warm Fuzzy P...,[QUALITY GUARANTEED: Luxury cozy plush polyest...,1622
2,1871949,I-Match Auto Parts Front License Plate Bracket...,"[Front License Plate Bracket Made Of Plastic,D...",7540
3,1107571,PinMart Gold Plated Excellence in Service 1 Ye...,[Available as a single item or bulk packed. Se...,12442
4,624253,"Visual Mathematics, Illustrated by the TI-92 a...",None,6318
5,2782548,Evershine Shoppee 10m Waxed Nylon Thread Cotto...,[Kindly Refer The Product Description Before B...,11205
6,1605901,"Vasque Men's Velocity at Hiking Shoe, Dark Spr...",[The velocity all-terrain is a streamlined hik...,3234
7,938007,Pokemon M-037 Kyurem Figure Monster Collection...,None,0
8,708128,Ganz normal verrückt: Das Wassermannzeitalter ...,None,10512
9,1609597,"Lug Women's Puddle Jumper Wheelie 2, Heather Grey","[Polyester Twill,Imported,polyester lining,Sof...",2640

In [15]:
test.shape

(734736, 4)

In [16]:
df1.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [17]:
#for testing
test.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
dtype: int64

In [18]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\10387\appdata\local\programs\python\python310\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\10387\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\10387\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\10387\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in c:\users\10387\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\10387\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.4)

In [19]:
import nltk
from nltk.tokenize import word_tokenize

In [20]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\10387\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
# import nltk
# from nltk.tokenize import word_tokenize

# Tokenize the title and description columns
df1['title_tokens'] = df1['TITLE'].apply(word_tokenize)
# df['bullet_tokens'] = df['BULLET_POINTS'].apply(word_tokenize)

# Extract the number of words and characters in each text column
df1['title_word_count'] = df1['title_tokens'].apply(len)
df1['title_char_count'] = df1['TITLE'].apply(len)
# df1['bullet_word_count'] = df1['bullet_tokens'].apply(len)
# df1['bullet_char_count'] = df1['BULLET_POINTS'].apply(len)

# Extract the number of bullet points
# df1['bullet_point_count'] = df1['BULLET_POINTS'].str.count('\n') + 1

# Convert product type ID to categorical variable
df1['PRODUCT_TYPE_ID'] = df1['PRODUCT_TYPE_ID'].astype('category')

# # Extract the length of the product    
# df1['PRODUCT_LENGTH_cm'] = df1['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# Drop the original text columns and any other unnecessary columns
# df1 = df1.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
df1 = df1.drop(columns=['TITLE'])

# Save the preprocessed data
# df1.to_csv('preprocessed_data.csv', index=False)

In [22]:
df1.head(15)

,PRODUCT_ID,BULLET_POINTS,PRODUCT_TYPE_ID,PRODUCT_LENGTH,title_tokens,title_word_count,title_char_count
0,1925202,[LUXURIOUS & APPEALING: Beautiful custom-made ...,1650,2125.980000,"[ArtzFolio, Tulip, Flowers, Blackout, Curtain,...",37,164
1,2673191,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",2755,393.700000,"[Marks, &, Spencer, Girls, ', Pyjama, Sets, T8...",9,59
2,2765088,"[Loud Dual Tone Trumpet Horn, Compatible With ...",7537,748.031495,"[PRIKNIK, Horn, Red, Electric, Air, Horn, Comp...",15,97
3,1594019,[Made By 95%cotton and 5% Lycra which gives yo...,2996,787.401574,"[ALISHAH, Women, 's, Cotton, Ankle, Length, Le...",14,73
4,283658,None,6112,598.424000,"[The, United, Empire, Loyalists, :, A, Chronic...",11,63
5,2152929,"[Simple and elegant, great for displaying indo...",5725,950.000000,"[HINS, Metal, Bucket, Shape, Plant, Pot, for, ...",40,198
6,413758,None,23,598.000000,"[Ungifted, :, My, Life, and, Journey]",6,29
7,2026580,[HIGH QUALITY PVC MATERIAL: The kitchen alumin...,6030,984.251967,"[Delavala, Self, Adhesive, Kitchen, Backsplash...",20,108
8,2050239,[Style Name:-Cali Sport Clean Women's Sneakers...,3302,393.700000,"[PUMA, Cali, Sport, Clean, Women, 's, Sneakers...",12,63
9,2998633,[100% Pure And Natural Essential Oil Or Fragra...,8201,393.700787,"[Hexwell, Essential, oil, for, Home, Fragrance...",20,113
10,2857066,"[Good quality and Suitable to use.,This Produc...",10359,590.551180,"[3NH®, Glasses, Goggles, Anti, Fog, Antis, Win...",10,65
11,833712,None,1,433.070000,"[La, Mure, /, Valbonnais, gps]",5,24
12,648364,None,1,759.841000,"[J'ecris, des, lettres, !, premiers, exercices...",9,58
13,1991694,None,32,600.000000,"[Mediterranean, diet, for, beginners, :, 7Bene...",14,100
14,2790448,[Segovia bottle consists of stainless steel wh...,1273,314.960630,"[SEGOVIA, Single, Walled, Stainless, Steel, Sp...",31,168

In [23]:
# X_train = df[['PRODUCT_TYPE_ID','title_word_count','title_char_count','bullet_word_count','bullet_char_count']]
X_train = df1[['PRODUCT_TYPE_ID','title_word_count','title_char_count']]
X_train

        PRODUCT_TYPE_ID  title_word_count  title_char_count
0                  1650                37               164
1                  2755                 9                59
2                  7537                15                97
3                  2996                14                73
4                  6112                11                63
...                 ...               ...               ...
2249693            3009                16                73
2249694            3413                22               118
2249695            1574                15                72
2249696             592                11                70
2249697            7367                25               117

[2249686 rows x 3 columns]

In [25]:
#NOW WE ARE PREPROCESSING TESTING DATA

In [24]:
# Tokenize the title and description columns
test['title_tokens'] = test['TITLE'].apply(word_tokenize)
# test['bullet_tokens'] = test['BULLET_POINTS'].apply(word_tokenize)

# Extract the number of words and characters in each text column
test['title_word_count'] = test['title_tokens'].apply(len)
test['title_char_count'] = test['TITLE'].apply(len)
# test['bullet_word_count'] = test['bullet_tokens'].apply(len)
# test['bullet_char_count'] = test['BULLET_POINTS'].apply(len)

# Extract the number of bullet points
# test['bullet_point_count'] = test['BULLET_POINTS'].str.count('\n') + 1

# Convert product type ID to categorical variable
test['PRODUCT_TYPE_ID'] = test['PRODUCT_TYPE_ID'].astype('category')

# # Extract the length of the product     
# test['PRODUCT_LENGTH_cm'] = test['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# Drop the original text columns and any other unnecessary columns
# test = test.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
test = test.drop(columns=['TITLE'])

# Save the preprocessed data
# test.to_csv('preprocessed_data.csv', index=False)

In [26]:
# X_test= df[['PRODUCT_TYPE_ID','title_word_count','title_char_count','bullet_word_count','bullet_char_count']]
X_test= test[['PRODUCT_TYPE_ID','title_word_count','title_char_count']]

X_test.head(10)

  PRODUCT_TYPE_ID  title_word_count  title_char_count
0            6142                15                84
1            1622                28               184
2            7540                19               143
3           12442                11                64
4            6318                10                58
5           11205                14                89
6            3234                10                54
7               0                12                82
8           10512                 9                62
9            2640                10                49

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
# Define the target variable
y_train = df1['PRODUCT_LENGTH']

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the validation set
y_pred = model.predict(X_test)

In [29]:
y_pred.shape

(734736,)

In [30]:
X_test.shape

(734736, 3)

In [32]:
#result data frame where we are copying the processed test dataframe
result = test.copy()
result.head(10)

,PRODUCT_ID,BULLET_POINTS,PRODUCT_TYPE_ID,title_tokens,title_word_count,title_char_count
0,604373,None,6142,"[Manuel, d'Héliogravure, Et, de, Photogravure,...",15,84
1,1729783,[QUALITY GUARANTEED: Luxury cozy plush polyest...,1622,"[DCGARING, Microfiber, Throw, Blanket, Warm, F...",28,184
2,1871949,"[Front License Plate Bracket Made Of Plastic,D...",7540,"[I-Match, Auto, Parts, Front, License, Plate, ...",19,143
3,1107571,[Available as a single item or bulk packed. Se...,12442,"[PinMart, Gold, Plated, Excellence, in, Servic...",11,64
4,624253,None,6318,"[Visual, Mathematics, ,, Illustrated, by, the,...",10,58
5,2782548,[Kindly Refer The Product Description Before B...,11205,"[Evershine, Shoppee, 10m, Waxed, Nylon, Thread...",14,89
6,1605901,[The velocity all-terrain is a streamlined hik...,3234,"[Vasque, Men, 's, Velocity, at, Hiking, Shoe, ...",10,54
7,938007,None,0,"[Pokemon, M-037, Kyurem, Figure, Monster, Coll...",12,82
8,708128,None,10512,"[Ganz, normal, verrückt, :, Das, Wassermannzei...",9,62
9,1609597,"[Polyester Twill,Imported,polyester lining,Sof...",2640,"[Lug, Women, 's, Puddle, Jumper, Wheelie, 2, ,...",10,49

In [33]:
result['PRODUCT_LENGTH'] = y_pred

In [34]:
result = result.drop(['title_tokens','BULLET_POINTS','PRODUCT_TYPE_ID','title_word_count','title_char_count'], axis=1)
result.head(10)

   PRODUCT_ID  PRODUCT_LENGTH
0      604373     4759.447187
1     1729783     1227.832226
2     1871949     2952.854949
3     1107571     6900.980257
4      624253     4834.142430
5     2782548     5904.221188
6     1605901     4006.494939
7      938007     1832.874884
8      708128     5738.121720
9     1609597     4099.404308

In [35]:
answer = result[['PRODUCT_ID','PRODUCT_LENGTH']].copy()
answer.to_csv('AMAZON_PREDICTED__DATA.csv')

In [37]:
seek=pd.read_csv('AMAZON_PREDICTED__DATA.csv')

seek

        Unnamed: 0  PRODUCT_ID  PRODUCT_LENGTH
0                0      604373     4759.447187
1                1     1729783     1227.832226
2                2     1871949     2952.854949
3                3     1107571     6900.980257
4                4      624253     4834.142430
...            ...         ...             ...
734731      734731      921419     5948.689680
734732      734732     2456362     2489.438514
734733      734733      841529     5793.267920
734734      734734     1190194     5289.887567
734735      734735     1040810      896.700835

[734736 rows x 3 columns]

In [40]:
seek.drop(columns=['Unnamed: 0'])

        PRODUCT_ID  PRODUCT_LENGTH
0           604373     4759.447187
1          1729783     1227.832226
2          1871949     2952.854949
3          1107571     6900.980257
4           624253     4834.142430
...            ...             ...
734731      921419     5948.689680
734732     2456362     2489.438514
734733      841529     5793.267920
734734     1190194     5289.887567
734735     1040810      896.700835

[734736 rows x 2 columns]

In [41]:
#hence this is the solution which is required to be submitted
seek.to_csv('Submission.csv')